:root {

  /* Colors list  */
  /* Black Versions */
  --black-v1:#151619;
  --black-v2:#1D1F22;
  --black-v3:#2B2D31;
  --black-v4:#35393F;
  /* Gray versions */
  --gray-v1:#5A6069;
  --gray-v2:#7C8187;
  --gray-v3:#C1C4CB;
  --gray-v4:#E4E4E4;
  /* White Versions */
  --white-v1:#F5F5F5;
  --white-v2:#FFFFFF;
  /* Orange Verions  */
  --orange-v1:#E46643;
  --orange-v2:#F39765;

  /* Typography  */
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
